// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



.modal {
    display: flex !important;
    padding: 20px !important;
    margin: 20px !important;
    width: 90% !important;
}

ion-page.modal {
    padding: 30px;
    background: rgba(0,0,0,0.5);
}

.modalClass{
    padding: 20px !important;
}